In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# data = pd.read_csv("./perceptron_data.csv")

In [3]:
# data
import itertools
n = 3
lst = list(itertools.product([0, 1], repeat=n+1))

data = pd.DataFrame(lst)

In [4]:
data

    0  1  2  3
0   0  0  0  0
1   0  0  0  1
2   0  0  1  0
3   0  0  1  1
4   0  1  0  0
5   0  1  0  1
6   0  1  1  0
7   0  1  1  1
8   1  0  0  0
9   1  0  0  1
10  1  0  1  0
11  1  0  1  1
12  1  1  0  0
13  1  1  0  1
14  1  1  1  0
15  1  1  1  1

In [5]:
i=1
idx = []

while(i<len(data)):
    idx.append(i)
    i = i+2
    
data.drop(idx,axis=0, inplace=True)

data = data.reset_index(drop=True)

In [6]:
data

   0  1  2  3
0  0  0  0  0
1  0  0  1  0
2  0  1  0  0
3  0  1  1  0
4  1  0  0  0
5  1  0  1  0
6  1  1  0  0
7  1  1  1  0

In [7]:
data = data.reset_index(drop=True)

In [8]:
data

   0  1  2  3
0  0  0  0  0
1  0  0  1  0
2  0  1  0  0
3  0  1  1  0
4  1  0  0  0
5  1  0  1  0
6  1  1  0  0
7  1  1  1  0

In [9]:
X = data.iloc[:, 1:data.shape[1]].values

In [10]:
X.shape

(8, 3)

In [11]:
y = data.iloc[:, -1].values

In [12]:
y.shape

(8,)

# Train Test Split

In [13]:
train_percentage = 0.6;
row = int(data.shape[0]*train_percentage)

In [14]:
X_train = data.iloc[:row, 1:4].values

In [15]:
X_test = data.iloc[row: ,1:4].values

In [16]:
X_train.shape

(4, 3)

In [17]:
X_test.shape

(4, 3)

In [18]:
y_train = data.iloc[ :row,-1].values

In [19]:
y_train.shape

(4,)

In [20]:
y_test = data.iloc[ row:,-1].values

In [21]:
y_test.shape

(4,)

# Single Layer Perceptron

In [22]:
def summation(W,X):
    result = 0
    for i in range(len(W)):
        result += W[i]*X[i]

    return result

In [23]:
# np.random.random()
def step(z):
    if z>= 0.5:
        return 1
    else:
        return 0

In [24]:
def perceptron(X,y):
    weights = np.array([0.1, 0.3, 0.2])
    prev_weight = weights
    
    lr = 1
    
    while(True):
        for j in range(len(X)):
            y_hat = step(summation(weights,X[j]))
            weights = weights + lr*(y[j]-y_hat)*X[j]
            
        if(np.array_equal(weights,prev_weight)):
            break
            
        prev_weight = weights
        
    return weights

In [25]:
adapt_weight = perceptron(X_train,y_train)

In [26]:
print(adapt_weight)

[0.1 0.3 0.2]

# Accuracy

In [27]:
# create a list to store the predictions
y_pred = []

In [28]:
# loop over the test data
for test_data in X_test:
    # predict the label for the test point
    label = step(summation(adapt_weight,test_data))
    y_pred.append(label)

In [29]:
y_pred

[0, 0, 0, 0]

In [30]:
y_test

array([0, 0, 0, 0], dtype=int64)

In [31]:
# calculate the accuracy of the classifier
accuracy = sum(y_pred == y_test) / len(y_test)
print("Accuracy: ", accuracy)

Accuracy:  1.0