In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# data = pd.read_csv("./perceptron_data.csv")

In [3]:
# Generate data
import itertools
n = 3
lst = list(itertools.product([0, 1], repeat=n))
data = pd.DataFrame(lst)

In [4]:
data

   0  1  2
0  0  0  0
1  0  0  1
2  0  1  0
3  0  1  1
4  1  0  0
5  1  0  1
6  1  1  0
7  1  1  1

In [5]:
first_half = np.zeros(int(len(data)/2)).astype(int)
# first_half

In [6]:
second_half = np.ones(int(len(data)/2)).astype(int)
# second_half

In [7]:
output = np.hstack((first_half, second_half))

In [8]:
data['output'] = output

In [9]:
data

   0  1  2  output
0  0  0  0       0
1  0  0  1       0
2  0  1  0       0
3  0  1  1       0
4  1  0  0       1
5  1  0  1       1
6  1  1  0       1
7  1  1  1       1

In [10]:
X = data.iloc[:, 1:data.shape[1]].values

In [11]:
X.shape

(8, 3)

In [12]:
y = data.iloc[:, -1].values

In [13]:
y.shape

(8,)

# Train Test Split

In [14]:
train_percentage = .9;
row = int(data.shape[0]*train_percentage)

In [15]:
X_train = data.iloc[:row, 1:data.shape[1]].values

In [16]:
X_test = data.iloc[row: ,1:data.shape[1]].values

In [17]:
X_train.shape

(7, 3)

In [18]:
X_test.shape

(1, 3)

In [19]:
y_train = data.iloc[ :row,-1].values

In [20]:
y_train.shape

(7,)

In [21]:
y_test = data.iloc[ row:,-1].values

In [22]:
y_test.shape

(1,)

# Single Layer Perceptron

In [23]:
def summation(W,X):
#     print(type(W))
#     print(type(X))
    result = 0
    for i in range(len(W)):
        result += W[i]*X[i]

    return result

In [24]:
# np.random.random()
def step(z):
    if z>= 0.5:
        return 1
    else:
        return 0

In [25]:
# def perceptron(X,y):
    
#     X = np.insert(X,0,1,axis=1)
#     weights = np.array([0.1, 0.3, 0.2])
# #     weights = np.ones(X.shape[1])
#     lr = 1
    
#     for i in range(1000):
#         j = np.random.randint(0,X.shape[0])
#         y_hat = step(np.dot(weights,X[j]))
#         weights = weights + lr*(y[j]-y_hat)*X[j]
        
#     return weights

def perceptron(X,y):
    weights = np.array([0.1, 0.3, 0.2])
    prev_weight = weights
    
    lr = 1
    all_clear_flag = False
    flag = True
    position = 0
    
    while(True):
        for i in range(len(X)):
            actual = step(summation(weights,X[i]))
            if(actual != y[i]):
                position = i
                
               
            weights = weights + lr*(y[i]-actual)*X[i]
            
        if(np.array_equal(weights,prev_weight)):
            break
            
        prev_weight = weights
        
    return weights

In [26]:
# X = X_train
# weights = np.array([0.1, 0.3, 0.2])
# # summation = summation(weights,X[0])

In [27]:
adapt_weight = perceptron(X_train,y_train)

In [28]:
adapt_weight

array([0.1, 0.3, 1.2])

In [29]:
# intercept_,coef_ = perceptron(X_train,y_train)
coef_ = perceptron(X_train,y_train)

In [30]:
print(coef_)
# print(intercept_)

[0.1 0.3 1.2]

# Accuracy

In [31]:
# create a list to store the predictions
y_pred = []

In [32]:
# loop over the test data
for test_data in X_test:
    # predict the label for the test point
    label = step(summation(adapt_weight,test_data))
    y_pred.append(label)

In [33]:
y_pred

[1]

In [34]:
y_test

array([1])

In [35]:
# calculate the accuracy of the classifier
accuracy = sum(y_pred == y_test) / len(y_test)
print("Accuracy: ", accuracy*100, "%")

Accuracy:  100.0 %

# Input Test Data

In [36]:
# x1 =int(input("Enter x1:"))
# x2 =int(input("Enter x2:"))
# x3 =int(input("Enter x3:"))
x1 = 1 
x2 = 0
x3 = 1

In [37]:
test_data = [x1,x2,x3]

In [38]:
type(test_data)

list

In [39]:
test_data = np.array(test_data)

In [40]:
test_data

array([1, 0, 1])

In [41]:
# adapt_weight

In [42]:
Sum = summation(adapt_weight,test_data)

In [43]:
result = step(Sum)

In [44]:
if result == 0:
    print("Output 0")
else:
    print("Output 1")

Output 1